<div>
  <a id="close-signup" class="default-color" ng-click='closeModal()'><i class="fa fa-times pull-right"></i></a>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <div>
                <div class="container col-md-12 top-margin">
                  <h2 class="text-center">Choose Your Path</h2>
                  <p class="item-intro text-muted text-center">Please Select One</p>
                </div>
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12 col-md-offset-1">
                            <button ng-click='getCreateGuild()' type="button" class="btn btn-xl create-guild">Create Guild</button>
                            <!-- <p class="text-muted item-intro">Looking to apply to a guild? Head over to your<a href='#'> Account Page</a></p> -->
                            <button ng-click='getAccountPage()' type="button" class="btn btn-xl apply-guild">Apply to Guild</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
