<!-- Guild Creation Modal -->
    <div ng-controller='InitSignUpController'>
      <a id="close-signup" class="default-color" ng-click='closeModal()'><i class="fa fa-times pull-right"></i></a>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                  <div>
                    <div class="container col-md-12 top-margin">
                      <h2 class="text-center">Create Guild <span class="color-red">Aggro</span> Account</h2>
                      <p class="item-intro text-muted text-center">Almost there! Just need some info.</p>
                    </div>
                      <div class="container">
                          <div class="row">
                              <div class="col-lg-12">
                                  <form ng-submit='accountCreation()' novalidate>
                                      <div class="row">
                                          <div class="col-md-8">
                                            <div class="form-group">
                                              <i class="fa fa-check-circle-o check-mark" style="font-size: 1.3em;" ng-show='nameAvailable'> Name Available</i>
                                              <i class="fa fa-times-circle-o x-mark" style="font-size: 1.3em;" ng-show='nameUnAvailable'> Name Unavailable</i>
                                              <input autofocus ng-blur='checkDb("name")' ng-change='instaValidation(userHandle, "User name")' type="text" class="form-control" ng-class="{'fill-red': nameUnAvailable, 'fill-green': nameAvailable}"  placeholder="User Name (others will see this) *" id="user-name" ng-model='userHandle'>
                                              <p ng-repeat='error in handleError' class="help-block text-danger">{{error}}</p>
                                            </div>
                                            <div class="form-group">
                                              <i class="fa fa-check-circle-o check-mark" style="font-size: 1.3em;" ng-show='emailAvailable'> Email Available</i>
                                              <i class="fa fa-times-circle-o x-mark" style="font-size: 1.3em;" ng-show='emailUnAvailable'> Email Unavailable</i>
                                              <input ng-blur='checkDb("email")' ng-change='instaValidation(email, "Email")' type="text" class="form-control" ng-class="{'fill-red': emailUnAvailable, 'fill-green': emailAvailable}"  placeholder="Your Email *" id="email" ng-model='email'>
                                              <p ng-repeat='error in emailError' class="help-block text-danger">{{error}}</p>
                                            </div>
                                            <div class="form-group">
                                              <input ng-change='samenessCheck(email, emailConfirm, "email")' type="text" class="form-control" ng-class="{'fill-red': emailUnAvailable, 'fill-red': emailNonMatch, 'fill-green': emailPass}" placeholder="Confirm Email *" id="email-confirm" ng-model='emailConfirm'>
                                              <p class="help-block text-danger">{{emailConfirmError}}</p>
                                            </div>
                                            <div class="form-group">
                                              <i class="fa fa-check-circle-o check-mark" style="font-size: 1.3em;" ng-show='passLength'>Long Passwords are Strong Passwords ({{password.length}}/30)</i>
                                              <input type="password" ng-change='instaValidation(password, "Password")' class="form-control" ng-class="{'fill-red': passwordFillError, 'fill-green': passwordPassed}" placeholder="Your Password *" id="password" ng-model='password'>
                                              <p ng-repeat='error in passwordError' class="help-block text-danger">{{error}}</p>
                                            </div>
                                            <div class="form-group">
                                              <i class="fa fa-check-circle-o check-mark" style="font-size: 1.3em;" ng-show='passConfirmPassed'>Passwords Match</i>
                                              <input ng-change='samenessCheck(password, passwordConfirm, "password")' type="password" class="form-control" ng-class="{'fill-red': passConfirmError, 'fill-green': passConfirmPassed}" placeholder="Confirm Password *" ng-model='passwordConfirm' id="password-confirm">
                                              <p class="help-block text-danger">{{passwordConfirmError}}</p>
                                            </div>
                                          </div>
                                          <div class="clearfix"></div>
                                        <div class="col-md-8 text-center">
                                          <button type="submit" ng-show='allPass' class="btn btn-xl">Create Account</button>
                                          <button type="submit" ng-hide='allPass' class="btn btn-xl disabled">Create Account</button>
                                        </div>
                                        <div class="col-md-8 text-center">
                                          <button type="button" class="btn btn-primary cancel" data-dismiss="modal" ng-click='closeModal()'><i class="fa fa-times"></i> Cancel</button>
                                        </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
