<div ng-controller='SplashController'>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">Guild Aggro</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#services">About</a>
                  </li>
                  <li>
                    <a id="create-pulsor" class="page-scroll" href="#portfolio">Create</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#about">How It Works</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#team">Team</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
  <!-- Header -->
  <header>
      <div class="container">
          <div class="intro-text">
              <div class="intro-lead-in">Angry Guild Hosting</div>
              <div class="intro-heading">Guild <span class="color-red">Aggro</span></div>
              <a href="#services" class="page-scroll btn btn-xl">Moar Dots</a>
          </div>
      </div>
  </header>

  <!-- *****testing here******** -->
  <div class="container">
    <div class="row">
      <div class="login-fade-bar" ng-animate="'animate'" ng-show='showLogin'>
        Thank you {{userName}} you've been signed in
        <span><i id="fade-bar-x" class="fa fa-times pull-right" ng-click='fadeOut()'></i></span>
      </div>
    </div>
  </div>
  <!-- *****testing here******** -->

  <!-- Services Section -->
  <section id="services">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">About</h2>
                  <h3 class="section-subheading text-muted">You create it, we save it.</h3>
              </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                <!-- add image peon with question mark over head here -->
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">5 minute Setup</h4>
                  <p class="text-muted">Get your Guild's page up and running in minutes! It's so easy, even a peon could do it. Zug Zug!</p>
              </div>
              <!-- chat image here -->
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-wechat fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Guild Chat</h4>
                  <p class="text-muted">Using our built in chat service, your guild will have a private, real time, internal chat app at your disposal.</p>
              </div>
              <!-- forum scroll here -->
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Guild Forums</h4>
                  <p class="text-muted">As a premium member, gain access to your own personal guild forum. Let the theorycrafting and guild picture threads commence!</p>
              </div>
          </div>
      </div>
  </section>

  <!-- Portfolio Grid Section -->
  <section id="portfolio" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Create</h2>
                  <h3 class="section-subheading text-muted">Your own person guild site is just a few clicks away!</h3>
                  <!-- <i class="fa fa-arrow-circle-down text-primary"></i> -->
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 col-sm-6 portfolio-item">
                  <!-- <a href="/signup" class="portfolio-link" data-toggle="modal"> -->
                  <a href="/signup" class="portfolio-link">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content">
                              <i class="fa fa-plus fa-3x"></i>
                          </div>
                      </div>
                      <div class="img-responsive">
                      </div>
                      <img src="http://www.blogcdn.com/massively.joystiq.com/media/2012/01/wow4.jpg" class="img-responsive" alt="">
                  <div class="portfolio-caption">
                      <h4>Create Page</h4>
                      <!-- <p class="text-muted">Click Here</p> -->
                  </div>
                  </a>
              </div>
          </div>
      </div>
  </section>

  <!-- About Section -->
  <section id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Guide</h2>
                  <h3 class="section-subheading text-muted">Four Step Guild Creation System</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <ul class="timeline">
                      <li>
                          <div class="timeline-image">
                              <!-- <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Sign-up</h4>
                                  <h4 class="subheading">Humble Beginnings</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Add information about first creation step. Guild name, admin name, ect.</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <!-- <img class="img-circle img-responsive" src="img/about/2.jpg" alt=""> -->
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Template</h4>
                                  <h4 class="subheading">A Site is Born</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Add info about template selections.</p>
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="timeline-image">
                              <!-- <img class="img-circle img-responsive" src="img/about/3.jpg" alt=""> -->
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Invite</h4>
                                  <h4 class="subheading">Shadows Gather</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Add info about sending invites to guild members or perhaps how guild memebers can apply and ask for permision to site</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <!-- <img class="img-circle img-responsive" src="img/about/4.jpg" alt=""> -->
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>Communitcation</h4>
                                  <h4 class="subheading">Connectivity at its Finest</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">Explain communication tools, chat app, raid invite emails, ect</p>
                              </div>
                          </div>
                      </li>
                      <li class="timeline-inverted">
                          <div class="timeline-image">
                              <h4>Go Forth
                                  <br>and
                                  <br><span class="color-red">Rage</span></h4>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </section>

  <!-- Team Section -->
  <section id="team" class="bg-light-gray">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">This Guy</h2>
                  <h3 class="section-subheading text-muted">Site problems? Take it up with this guy.</h3>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4 col-sm-offset-4">
                  <div class="team-member">
                      <img src="http://ia.media-imdb.com/images/M/MV5BMTQ5Nzg2MTgwMl5BMl5BanBnXkFtZTcwNTA0NjcxMw@@._V1_UY317_CR0,0,214,317_AL_.jpg" class="img-responsive img-circle" alt="mr. T">
                      <h4>Mr. T</h4>
                      <p class="text-muted">Web Master</p>
                      <ul class="list-inline social-buttons">
                          <li><a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-linkedin"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p class="large text-muted">I pitty the fool who disrepect my website!</p>
              </div>
          </div>
      </div>
  </section>

  <footer>
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">&copy; Andrew Cer 2015</span>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                      <li><a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li><a href="#"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li><a href="https://www.linkedin.com/in/andrewcer" target="_blank"><i class="fa fa-linkedin"></i></a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                      <li><a href="#">Privacy Policy</a>
                      </li>
                      <li><a href="#">Terms of Use</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/cbpAnimatedHeader.js"></script>
  <!-- jQuery -->
  <!-- <script src="js/jquery.js"></script> -->
  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="js/agency.js"></script>
</div>
