<!-- <div class="container">
  <div class="row">
    <div class="login-fade-bar" ng-hide="hidden" ng-class="{fade: startFade}">
      Thank you {{userName}} you've been signed in!
      <span><i id="fade-bar-x" class="fa fa-times pull-right" ng-click='hideBox()'></i></span>
    </div>
  <h1>(Temp) Guild Creation Page</h1>
  <h1>Welcome {{userName}}</h1>
  </div>
</div> -->
<!-- Fixed navbar -->
   <nav class="navbar navbar-default navbar-fixed-top non-splash">
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand change-mouse" ng-click='goHome()'>Guild Aggro</a>
       </div>
       <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
           <li><a class="change-mouse" ng-click='goHome()'>Home</a></li>
           <li><a href="#about">(temp)Guild Site</a></li>
           <li><a href="#contact">(temp)Forums</a></li>
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(temp) User stuff<span class="caret"></span></a>
             <ul class="dropdown-menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li role="separator" class="divider"></li>
               <li class="dropdown-header">Nav header</li>
               <li><a href="#">Separated link</a></li>
               <li><a href="#">One more separated link</a></li>
             </ul>
           </li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </nav>
   <div class="container push-top">
     <div class="container col-md-8 guild-signup">
       <div class="row">
         <div class="container col-md-12">
           <h2>Your Guild <span class="color-red">Aggro</span> Site Info</h2>
           <p class="item-intro text-muted">Almost there!</p>
         </div>
           <div class="container">
               <div class="row">
                   <div class="col-lg-11">
                       <form ng-submit='accountCreation()' novalidate>
                           <div class="row">
                               <div class="col-md-8">
                                 <div class="form-group">
                                   <i class="fa fa-check-circle-o check-mark" style="font-size: 1.3em;" ng-show='domainAvailable'> Domain Available</i>
                                   <i class="fa fa-times-circle-o x-mark" style="font-size: 1.3em;" ng-show='domainUnAvailable'> Domain Unavailable</i>
                                   <h4>Domain</h4>
                                   <p class="text-muted">Example: www.guildaggro.com/awesome-guild-name</p>
                                   <input autofocus ng-blur='checkDb()' ng-change='instaValidation(domainName, "domain")' type="text" class="form-control" ng-class="{'fill-red': domainUnAvailable, 'fill-green': domainAvailable}"  placeholder="awesome-guild-name" id="domain-name" ng-model='domainName'>
                                   <p ng-repeat='error in handleError' class="help-block text-danger">{{error}}</p>
                                 </div>
                                 <div class="form-group">
                                   <!-- <i class="fa fa-check-circle-o check-mark" style="font-size: 1.3em;" ng-show='emailAvailable'> Email Available</i> -->
                                   <!-- <i class="fa fa-times-circle-o x-mark" style="font-size: 1.3em;" ng-show='emailUnAvailable'> Email Unavailable</i> -->
                                  <h4>Guild Name</h4>
                                   <input ng-change='instaValidation(guildName, "guild")' type="text" class="form-control" ng-class="{'fill-red': emailUnAvailable, 'fill-green': emailAvailable}"  placeholder="e.g. Method" id="guild-name" ng-model='guildName'>
                                   <p ng-repeat='error in emailError' class="help-block text-danger">{{error}}</p>
                                 </div>
                                 <!-- <div class="form-group">
                                   <h4>Game</h4>
                                   <input ng-click='showGames = !showGames' ng-hide='showGames' type="text" class="form-control change-mouse" value='{{selectedGame || tempSeedGameData[0]}}'>
                                   <div ng-show='showGames' >
                                    <input ng-click='showGames = !showGames' type="text" class="form-control change-mouse" value='{{selectedGame || tempSeedGameData[0]}}'>
                                    <ul class="games-input-sim">
                                      <input type="text" ng-model='search'>
                                      <li class="change-mouse" ng-repeat='game in tempSeedGameData | filter:search' ng-click='chooseGame(game)'>{{game}}</li>
                                    </ul>
                                   </div>
                                  </div> -->
                                 <!-- <div class="form-group">
                                   <h4>Faction</h4>
                                   <p>(display when it applies...hide if game selected doesn't have factions)</p>
                                   <i class="fa fa-check-circle-o check-mark" style="font-size: 1.3em;" ng-show='passLength'>Long Passwords are Strong Passwords ({{password.length}}/30)</i>
                                   <input type="password" ng-change='instaValidation(password, "Password")' class="form-control" ng-class="{'fill-red': passwordFillError, 'fill-green': passwordPassed}" placeholder="Faction" id="password" ng-model='password'>
                                   <p ng-repeat='error in passwordError' class="help-block text-danger">{{error}}</p>
                                 </div>
                                 <div class="form-group">
                                   <h4>Server</h4>
                                   <i class="fa fa-check-circle-o check-mark" style="font-size: 1.3em;" ng-show='passConfirmPassed'>Passwords Match</i>
                                   <input ng-change='samenessCheck(password, passwordConfirm, "password")' type="password" class="form-control" ng-class="{'fill-red': passConfirmError, 'fill-green': passConfirmPassed}" placeholder="Server" ng-model='passwordConfirm' id="password-confirm">
                                   <p class="help-block text-danger">{{passwordConfirmError}}</p>
                                 </div> -->
                                 <div class="form-group">
                                   <h4>Site Template</h4>
                                     <!-- <select class="form-control">
                                       <option>Template 1 (Fire Red)</option>
                                       <option>Template 2 (Leaf Green)</option>
                                       <option>Template 3 (Blacky black black 'stealth mode')</option>
                                     </select> -->
                                     <!-- TODO: add ng-click/model that will select this as a template and highlight it blue -->
                                   <img ng-click='selectTempalte("blue")' ng-class='class' class='col-md-5 arthas-thumb' src="/images/blue-temp.png" alt="arthas">
                                 </div>
                               </div>
                               <div class="clearfix"></div>
                             <div class="col-md-8 pushup">
                               <button type="submit" ng-show='allPass' class="btn btn-xl">Create Guild</button>
                               <button type="button" ng-hide='allPass' class="btn btn-xl disabled">Create Guild</button>
                             </div>
                             <div class="col-md-8">
                               <button type="button" class="btn btn-primary cancel" data-dismiss="modal" ng-click='goHome()'><i class="fa fa-times"></i> Cancel</button>
                             </div>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
       </div>
     </div>
     <!-- TODO: hide this section on mobile view -->
     <div class="container col-md-4 feature-highlights">
         <h4>Feature Highlights</h4>
       <div class="container">
         <div class="row">
           <p><b>Real-Time Chat</b></p>
           <div class="col-md-4">
             <p>Instant chat messaged with all of your guild mates</p>
           </div>
         </div>
         <div class="row">
           <p><b>Guild Forums</b></p>
           <div class="col-md-4">
             <p>Guild forums for all of your theorycrafting action</p>
           </div>
         </div>
         <div class="row">
           <p><b>Moar highlights!!!!</b></p>
           <div class="col-md-4">
             <p>moar moar moar moar moar moar moar moar moar moar moar moar moar moar</p>
           </div>
         </div>
       </div>
     </div>
   </div>
   <footer>
       <div class="container">
           <div class="row">
               <div class="col-md-4">
                   <span class="copyright">&copy; Andrew Cer 2015</span>
               </div>
               <div class="col-md-4">
                   <ul class="list-inline social-buttons">
                       <li><a href="#"><i class="fa fa-twitter"></i></a>
                       </li>
                       <li><a href="#"><i class="fa fa-facebook"></i></a>
                       </li>
                       <li><a href="https://www.linkedin.com/in/andrewcer" target="_blank"><i class="fa fa-linkedin"></i></a>
                       </li>
                   </ul>
               </div>
               <div class="col-md-4">
                   <ul class="list-inline quicklinks">
                       <li><a href="#">Privacy Policy</a>
                       </li>
                       <li><a href="#">Terms of Use</a>
                       </li>
                   </ul>
               </div>
           </div>
       </div>
   </footer>
